<header style="position: sticky; top: 0; background-color: #fafcfc;">
  <div style="display: flex; justify-content: center;">
    <h1 style="text-align: center; border-top: solid 1px; border-bottom: solid 1px; border-radius: 10%; width: 30vw">
    FLICKR API</h1>
  </div>

  <%= render 'form' %>
</header>
<div>
  <div style="display: flex; justify-content: center; flex-direction: column; font-size: 13px">
    <% if @user_info %>
      <p style="text-align: center;">USERNAME: <b><%= @user_info.username %></b></p>
      <p style="text-align: center;">ID: <b><%= @user_info.nsid %></b></p>
      <p style="text-align: center;">REAL NAME: <b><%= @user_info.realname %></b></p>
      <p style="text-align: center;">NUMBER OF PHOTOS: <b><%= @user_info.photos.count %></b></p>
    <% end %>
  </div>

  <div>
    <div style="margin: 15px; padding: 1vh; display: flex; flex-flow: column wrap; justify-content: center;">
      <% if @photos %>
        <% @photos.each do |photo| %>
          <div style="display: flex; justify-content: center; padding: 20px;">
            <img src=<%=Flickr.url(photo)%> ><br>
          </div>
        <% end %>
      <% end %>
    </div>

    <div style="margin: 15px; display: flex; justify-content: center;">
      <% if @photo %>
          <img src=<%=Flickr.url(@photo)%> ><br>
      <% end %>
    </div>
  </div>
</div>
